* {
  padding: 0;
  margin: 0;
}
#result-wrapper{
  width:80%;
  height:100vh;
  // background:pink;
  margin-top:80px;
  #navSearchBar{
    position: fixed;
    top:0;
    left:25%;
  }
  #result-header{
    width:100%;
    height:250px;
    // background:red;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;
    #summonerInfo{
      width:200px;
      height:200px;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      list-style-type: none;
      flex-direction: column;
      // background:red;
      #name{
        font-size:1.2em;
        font-weight:500;
        height:35px;
      }
      #level{
        position:absolute;
        width:80px;
        height:25px;
        border-radius: 4px;
        background-color: rgba(0, 0, 44, 0.8);
        color:#fff;
        border:1px solid #f4c542;
      }
      img{
        width:150px;
        height:150px;
        border-radius:5px;
        // border:1px solid #f4c542;
      }
    }
    .rankSlot{
      width:250px;
      height:150px;
      display:flex;
      .rankImg{
        width:100px;
        height:200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          width:100px;
          height:100px;
        }
      }
      .noRankImg{
        width:100px;
        height:200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:-10px;
        img{
          width:120px;
          height:120px;
        }
        p{
          font-size:.8em;
          font-weight:500;
        }
      }
      .rank-info{
        width:150px;
        height:200px;
        padding:0 10px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size:.8em;
        font-weight:500;
        p{
          text-align: left;
        }
        .tier{
          font-size:1.2em;
          color:#f4c542;
        }
      }
    }

  }
  #match-wrapper{
    width:100%;
    // background:red;
    display:flex;
    flex-direction: column;
    .Win{
      background:rgb(181, 216, 255);
      .history-header{
        background:rgb(135, 171, 211) !important;
        color:rgb(83, 98, 114) !important;
      }
    }
    .Fail{
      background:rgb(247, 187, 187);
      .history-header{
        background:rgb(209, 154, 154) !important;
        color:rgb(114, 83, 83) !important;
      }
    }
    .badmatchHistory{
      background:#ccc !important;
      // border:1px solid #aaa !important;
      .history-header{
        background:rgb(143, 147, 155) !important;
        color:rgb(55, 57, 61)!important;
      }
      // .Victory,.Defeat{
      //   color:#000 !important;
      // }
    }

    .matchHistory{
      border-radius: 5px;
      display:flex;
      flex-direction: column;
      align-items: space-evenly;
      justify-content: space-evenly;
      width:100%;
      height:200px;
      margin:10px 0;
      // border:1px solid #ccc;
      .history-header{
        height:30px;
        width:100%;
        display:flex;
        justify-content: space-between;
        background:#ccc;
        font-weight:400;
        font-size:0.8em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        #queueType{
          font-weight:500;
        }
        .history-header-left{
          display:flex;
          align-items: center;
          justify-content: space-evenly;
          width:250px;
          .divideLine{
            height:1px;
            width:5px;
            background:#333;
          }
        }
        .history-header-right{
          display:flex;
          align-items: center;
          justify-content: space-evenly;
          width:80px;
        }
        .Defeat{
          color:rgb(114, 83, 83);
          font-weight:500;
        }
        .Victory{
          color:rgb(83, 98, 114);
          font-weight:500;
        }
      }
      .history-body{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        .history-left,.history-right,.history-mid,.history-mid2{
          width:150px;
          height:150px;
          overflow:hidden;
          // background:blue;
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // border:1px solid #ccc;
          .result{
            font-weight:500;
            font-size:.8em;
          }
          .champName{
            font-weight:500;
          }
        }

        .history-left{
          width:100px;
          height:200px;
          .sumChamp{
            width:100px;
            height:100px;
            overflow:hidden;
            border-radius: 5px;
            img{
              margin-left:-10px;
              margin-top:-8px;
              width:120px;
              height:120px;
            }
          }
          .sumSpells{
            display:flex;
            height:50px;
            width:100px;
            justify-content: space-between;
            .spellWrapper{
              margin-top:6px;
              overflow:hidden;
              height:45px;
              width:45px;
              border-radius: 5px;
            }
            img{
              margin-left:-2px;
              margin-top:-2px;
              width:50px;
              height:50px;
            }
          }
        }
        .history-mid{
          width:130px;
          font-size:1em;
          .kda{
            font-weight:500;
            font-size:1.5em;
            letter-spacing: 5px;
            .red{
              color:#e2144a;
            }
          }
        }
        .history-mid2{
          width:100px;
          font-size:1em;
          .csStat{
            font-size:0.8em;
          }
          .csNum{
            font-weight:500;
          }
        }
        .history-right{
          // background:red;
          display:flex;
          flex-direction: row;
          width:300px;
          .itemWrapper{
            overflow:hidden;
            width:45px;
            height:45px;
            border-radius: 5px;
            margin-right:2px;
            img{
              width:50px;
              height:50px;
              margin-left:-2px;
              margin-top:-2px;
            }
          }
        }
        .history-allPlayers{
          height:150px;
          width:350px;
          display:flex;
          justify-content: flex-end;
          // background:pink;
          .history{
            height:150px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .t1-names,.t2-names{
            height:30px;
            width:120px;
            display: flex;
            font-size:.8em;
            justify-content: flex-start;
            align-items: center;
            padding-left:5px;
            cursor:pointer;
            // background:green;
          }
          .t1-names:hover,.t2-names:hover{
            color:#333;
          }
          img{
            width:30px;
          }
        }
      }

    }
  }
}
