* {
  padding: 0;
  margin: 0;
}

#result-wrapper {
  width: 80%;
  height: 100vh;
  margin-top: 80px;
}
#result-wrapper #navSearchBar {
  position: fixed;
  top: 0;
  left: 25%;
}
#result-wrapper #result-header {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ccc;
  display: flex;
}
#result-wrapper #result-header #summonerInfo {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
}
#result-wrapper #result-header #summonerInfo #name {
  font-size: 1.2em;
  font-weight: 500;
}
#result-wrapper #result-header #summonerInfo #level {
  width: 40px;
  height: 25px;
  border-radius: 5px;
  background: #f4c542;
  color: #fff;
}
#result-wrapper #result-header #summonerInfo img {
  width: 100px;
  height: 100px;
  border: 1px solid #f4c542;
}
#result-wrapper #result-header .rankSlot {
  width: 250px;
  height: 200px;
  display: flex;
}
#result-wrapper #result-header .rankSlot .rankImg {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result-wrapper #result-header .rankSlot .rankImg img {
  width: 100px;
  height: 100px;
}
#result-wrapper #result-header .rankSlot .noRankImg {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#result-wrapper #result-header .rankSlot .noRankImg img {
  width: 120px;
  height: 120px;
}
#result-wrapper #result-header .rankSlot .noRankImg p {
  font-size: 0.8em;
  font-weight: 500;
}
#result-wrapper #result-header .rankSlot .rank-info {
  width: 150px;
  height: 200px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 500;
}
#result-wrapper #result-header .rankSlot .rank-info p {
  text-align: left;
}
#result-wrapper #result-header .rankSlot .rank-info .tier {
  font-size: 1.2em;
  color: #f4c542;
}
#result-wrapper #match-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#result-wrapper #match-wrapper .matchHistory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  margin: 10px 0;
  border: 1px solid #ccc;
}
#result-wrapper #match-wrapper .matchHistory .history-header, #result-wrapper #match-wrapper .matchHistory .history-left, #result-wrapper #match-wrapper .matchHistory .history-right, #result-wrapper #match-wrapper .matchHistory .history-mid {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#result-wrapper #match-wrapper .matchHistory .history-header .result, #result-wrapper #match-wrapper .matchHistory .history-left .result, #result-wrapper #match-wrapper .matchHistory .history-right .result, #result-wrapper #match-wrapper .matchHistory .history-mid .result {
  font-weight: 500;
  font-size: 0.8em;
}
#result-wrapper #match-wrapper .matchHistory .history-header .champName, #result-wrapper #match-wrapper .matchHistory .history-left .champName, #result-wrapper #match-wrapper .matchHistory .history-right .champName, #result-wrapper #match-wrapper .matchHistory .history-mid .champName {
  font-weight: 500;
}
#result-wrapper #match-wrapper .matchHistory .history-header img, #result-wrapper #match-wrapper .matchHistory .history-left img, #result-wrapper #match-wrapper .matchHistory .history-right img, #result-wrapper #match-wrapper .matchHistory .history-mid img {
  width: 80px;
  height: 80px;
  display: flex;
}
#result-wrapper #match-wrapper .matchHistory .history-header {
  width: 100px;
}
#result-wrapper #match-wrapper .matchHistory .history-left .sumSpells {
  display: flex;
}
#result-wrapper #match-wrapper .matchHistory .history-left .sumSpells img {
  width: 40px;
  height: 40px;
}
#result-wrapper #match-wrapper .matchHistory .history-mid {
  width: 80px;
  font-size: 1em;
}
#result-wrapper #match-wrapper .matchHistory .history-mid .kda {
  font-weight: 500;
}
#result-wrapper #match-wrapper .matchHistory .history-mid .kda .red {
  color: #ed2f48;
}
#result-wrapper #match-wrapper .matchHistory .history-right {
  display: flex;
  flex-direction: row;
  width: 300px;
}
#result-wrapper #match-wrapper .matchHistory .history-right img {
  width: 40px;
  height: 40px;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers {
  height: 150px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers .history-t1 {
  height: 150px;
  display: flex;
  flex-direction: column;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers .t1-names, #result-wrapper #match-wrapper .matchHistory .history-allPlayers .t2-names {
  height: 30px;
  width: 160px;
  display: flex;
  font-size: 0.8em;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers .t1-names:hover, #result-wrapper #match-wrapper .matchHistory .history-allPlayers .t2-names:hover {
  color: #333;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers .history-t2 {
  height: 150px;
  display: flex;
  flex-direction: column;
}
#result-wrapper #match-wrapper .matchHistory .history-allPlayers img {
  width: 30px;
}
#result-wrapper #match-wrapper .Win {
  background: #aed3f2;
}
#result-wrapper #match-wrapper .Fail {
  background: #f9cbb8;
}

/*# sourceMappingURL=Result.css.map */
