* {
  padding: 0;
  margin: 0;
}
#result-wrapper{
  width:80%;
  height:100vh;
  // background:pink;
  margin-top:80px;
  #navSearchBar{
    position: fixed;
    top:0;
    left:25%;
  }
  #result-header{
    width:100%;
    height:250px;
    // background:red;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;
    #summonerInfo{
      width:200px;
      height:200px;
      display:flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      flex-direction: column;
      // background:red;
      #name{
        font-size:1.2em;
        font-weight:500;
        height:35px;
      }
      #level{
        width:40px;
        height:25px;
        border-radius: 5px;
        background:#f4c542;
        color:#fff;
      }
      img{
        width:100px;
        height:100px;
        border:1px solid #f4c542;
      }
    }
    .rankSlot{
      width:250px;
      height:200px;
      display:flex;
      .rankImg{
        width:100px;
        height:200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          width:100px;
          height:100px;
        }
      }
      .noRankImg{
        width:100px;
        height:200px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          width:120px;
          height:120px;
        }
        p{
          font-size:.8em;
          font-weight:500;
        }
      }
      .rank-info{
        width:150px;
        height:200px;
        padding:0 10px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size:.8em;
        font-weight:500;
        p{
          text-align: left;
        }
        .tier{
          font-size:1.2em;
          color:#f4c542;
        }
      }
    }

  }
  #match-wrapper{
    width:100%;
    // background:red;
    display:flex;
    flex-direction: column;
    .matchHistory{
      display:flex;
      align-items: center;
      justify-content: space-evenly;
      width:100%;
      height:180px;
      margin:10px 0;
      border:1px solid #ccc;
      .history-header,.history-left,.history-right,.history-mid{
        width:150px;
        height:150px;
        // background:blue;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border:1px solid #ccc;
        .result{
          font-weight:500;
          font-size:.8em;
        }
        .champName{
          font-weight:500;
        }
        img{
          width:80px;
          height:80px;
          // border:1px solid #f4c542;
          display:flex;
        }
      }
      .history-header{
        width:100px;
      }
      .history-left{
        width:100px;
        .sumSpells{
          display:flex;
          img{
            width:40px;
            height:40px;
          }
        }
      }
      .history-mid{
        width:80px;
        font-size:1em;
        .kda{
          font-weight:500;
          .red{
            color:#ed2f48;
          }
        }
      }
      .history-right{
        // background:red;
        display:flex;
        flex-direction: row;
        width:400px;
        img{
          width:40px;
          height:40px;
        }
      }
      .history-allPlayers{
        height:150px;
        width:350px;
        display:flex;
        justify-content: flex-end;
        // background:pink;
        .history{
          height:150px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .t1-names,.t2-names{
          height:30px;
          width:120px;
          display: flex;
          font-size:.8em;
          justify-content: flex-start;
          align-items: center;
          padding-left:5px;
          cursor:pointer;
          // background:green;
        }
        .t1-names:hover,.t2-names:hover{
          color:#333;
        }
        img{
          width:30px;
        }
      }
    }
    .Win{
      background:#aed3f2;
    }
    .Fail{
      background:#f9cbb8;
    }

  }
}
